.animated {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.hinges {
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
}

.animated.slow {
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    -o-animation-duration: 3s;
    animation-duration: 3s;
}

.animated.snail {
    -webkit-animation-duration: 4s;
    -moz-animation-duration: 4s;
    -o-animation-duration: 4s;
    animation-duration: 4s;
}

@-webkit-keyframes shake {

    0%,
    100% {
        -webkit-transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translateX(10px);
    }
}

@-moz-keyframes shake {

    0%,
    100% {
        -moz-transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -moz-transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
        -moz-transform: translateX(10px);
    }
}

@-o-keyframes shake {

    0%,
    100% {
        -o-transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -o-transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
        -o-transform: translateX(10px);
    }
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translateX(10px);
    }
}

.shake {
    -webkit-animation-name: shake;
    -moz-animation-name: shake;
    -o-animation-name: shake;
    animation-name: shake;
}

.login .modal-dialog {
    width: 350px;
}

.login .modal-footer {
    border-top: 0;
    margin-top: 0px;
    padding: 10px 20px 20px;
}

.login .modal-header {
    border: 0 none;
    padding: 15px 15px 15px;
    /*     padding: 11px 15px; */
}

.login .modal-body {
    background-color: #eeeeee; 
}

.login .division {
    float: none;
    margin: 0 auto 18px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
}

.login .division .line {
    border-top: 1px solid #DFDFDF;
    position: absolute;
    top: 10px;
    width: 34%;
}

.login .division .line.l {
    left: 0;
}

.login .division .line.r {
    right: 0;
}

.login .division span {
    color: #424242;
    font-size: 17px;
}

.login .box .social {
    float: none;
    margin: 0 auto 30px;
    text-align: center;
}

.login .social .circle {
    background-color: #EEEEEE;
    color: #FFFFFF;
    border-radius: 100px;
    display: inline-block;
    margin: 0 17px;
    padding: 15px;
}

.login .social .circle .fa {
    font-size: 16px;
}

.login .social .facebook {
    background-color: #455CA8;
    color: #FFFFFF;
}

.login .social .google {
    background-color: #F74933;
}

.login .social .github {
    background-color: #403A3A;
}

.login .facebook:hover {
    background-color: #6E83CD;
}

.login .google:hover {
    background-color: #FF7566;
}

.login .github:hover {
    background-color: #4D4D4d;
    ;
}

.login .forgot {
    color: #797979;
    margin-left: 0;
    overflow: hidden;
    text-align: center;
    width: 100%;
}

.login .btn-login,
.registerBox .btn-register {
    background-color: #00BBFF;
    border-color: #00BBFF;
    border-width: 0;
    color: #FFFFFF;
    display: block;
    margin: 0 auto;
    padding: 15px 50px;
    text-transform: uppercase;
    width: 100%;
}

.login .btn-login:hover,
.registerBox .btn-register:hover {
    background-color: #00A4E4;
    color: #FFFFFF;
}

.login .form-control {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.09);
    box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.09) inset;
    color: #FFFFFF;
}

.login .form-control:hover {
    background-color: rgba(0, 0, 0, .16);
}

.login .form-control:focus {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04) inset;
    background-color: rgba(0, 0, 0, 0.23);
    color: #FFFFFF;
}

.login .box .form input[type="text"],
.login .box .form input[type="password"] {
    border-radius: 3px;
    border: none;
    color: #333333;
    font-size: 16px;
    height: 46px;
    margin-bottom: 5px;
    padding: 13px 12px;
    width: 100%;
}


@media (max-width:400px) {
    .login .modal-dialog {
        width: 100%;
    }
}

.big-login,
.big-register {
    background-color: #00bbff;
    color: #FFFFFF;
    border-radius: 7px;
    border-width: 2px;
    font-size: 14px;
    font-style: normal;
    font-weight: 200;
    padding: 16px 60px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}

.big-login:hover {
    background-color: #00A4E4;
    color: #FFFFFF;
}

.big-register {
    background-color: rgba(0, 0, 0, .0);
    color: #00bbff;
    border-color: #00bbff;
}

.big-register:hover {
    border-color: #00A4E4;
    color: #00A4E4;
}
.jumbotron{
    background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(/assets/img/pngfind.com-cloud-illustration-png-4625058.png) no-repeat center center;
    background-size: cover;
    height: 50vh;
    margin-top: 0px;
    padding: 5%;
}
    .jumbotron h1{
        color: #fff;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
    }
    .jumbotron p{
        color: #fff;
        font-size: 20px;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
    }
    body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
h1{
    font-size: 50px;
    font-weight: 7;
    text-align: center;
    margin-top: 1%;
}

.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
    margin-top: 0px;
}

.search_input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color: transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}

.searchbar:hover>.search_input {
    padding: 0 10px;
    width: 450px;
    caret-color: rgb(255, 255, 255);
    transition: width 0.4s linear;
}

.searchbar:hover>.search_icon {
    background: white;
    color: #0e0e0e;
}

.search_icon {
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    text-decoration: none;
}
.bbb_advs {
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px
}

.bbb_adv {
    width: 100%;
    height: 220px;
    border: solid 1px #e8e8e8;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1)
}

.bbb_adv_content {
    padding-left: 30px
}

.bbb_adv_subtitle {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 26px
}

.bbb_adv_title a {
    font-size: 18px;
    font-weight: 500;
    color: #000000
}

.bbb_adv_title a:hover {
    color: #0e8ce4
}

.bbb_adv_title_2 a {
    font-size: 18px;
    font-weight: 500;
    color: #0e8ce4
}

.bbb_adv_title_2 a:hover {
    opacity: 0.8
}

.bbb_adv_text {
    color: #828282;
    margin-top: 10px;
    font-size: 14px
}

.bbb_adv_image {
    width: 168px;
    height: 100%
}

.bbb_adv_image img {
    display: block;
    max-width: 100%
}
.card{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    height: 100%;
}

.card:hover{
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
}
.card-title{
    font-size: 18px;
    font-weight: 500;
    color: #000000;
    margin-bottom: 10px;
}
.card-text{
    color: #828282;
    margin-top: 10px;
    font-size: 14px;
}
.container-fluid h5{
    font-size: 18px;
    font-weight: 500;
    color: #000000;
    margin-bottom: 10px;
    text-align: center;
}
/* centered card */
.col{
    margin:  50px;
    float: none;
    margin-bottom: 10px;
    
}
.col p{
    color: #828282;
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
}

/* centered btn-primary*/
.btn-primary{
    display: block;
    margin-left: 50px;
    margin-right: 50px;
    float: none;
    margin-bottom: 10px;
    text-align: center;
}
/*style btn-primary*/
.btn-primary{
    background-color: #0e8ce4;
    border-color: #0e8ce4;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 30px;
    transition: all 0.3s ease 0s;
}
.btn-primary:hover{
    background-color: #0e8ce4;
    border-color: #0e8ce4;
}
.btn-secondary{
        background-color: #0e8ce4;
        border-color: #0e8ce4;
        color: #fff;
        border-radius: 7px;
        border-width: 2px;
        font-size: 14px;
        font-style: normal;
        font-weight: 200;
        padding: 16px 60px;
        text-transform: uppercase;
        transition: all 0.3s ease 0s;
}
body {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-areas: "main""footer";
    overflow-x: hidden;
    background: #F5F7FA;
    min-height: 100vh;
    font-family: "Open Sans", sans-serif;
}

body .footer {
    z-index: 1;
    --footer-background: #050505;
    display: grid;
    position: relative;
    grid-area: footer;
    min-height: 12rem;
}

body .footer .bubbles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1rem;
    background: var(--footer-background);
    filter: url("#blob");
}

body .footer .bubbles .bubble {
    position: absolute;
    left: var(--position, 50%);
    background: var(--footer-background);
    border-radius: 100%;
    -webkit-animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
    animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
    transform: translate(-50%, 100%);
}

body .footer .content {
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 4rem;
    padding: 2rem;
    background: var(--footer-background);
}

body .footer .content a,
body .footer .content p {
    color: #F5F7FA;
    text-decoration: none;
}

body .footer .content b {
    color: white;
}

body .footer .content p {
    margin: 0;
    font-size: 0.75rem;
}

body .footer .content>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body .footer .content>div>div {
    margin: 0.25rem 0;
}

body .footer .content>div>div>* {
    margin-right: 0.5rem;
}

body .footer .content>div .image {
    align-self: center;
    width: 4rem;
    height: 4rem;
    margin: 0.25rem 0;
    background-size: cover;
    background-position: center;
}

@-webkit-keyframes bubble-size {

    0%,
    75% {
        width: var(--size, 4rem);
        height: var(--size, 4rem);
    }

    100% {
        width: 0rem;
        height: 0rem;
    }
}

@keyframes bubble-size {

    0%,
    75% {
        width: var(--size, 4rem);
        height: var(--size, 4rem);
    }

    100% {
        width: 0rem;
        height: 0rem;
    }
}

@-webkit-keyframes bubble-move {
    0% {
        bottom: -4rem;
    }

    100% {
        bottom: var(--distance, 10rem);
    }
}

@keyframes bubble-move {
    0% {
        bottom: -4rem;
    }

    100% {
        bottom: var(--distance, 10rem);
    }
}
.center{  
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
#wave {
    position: relative;
    height: 70px;
    width: 600px;
    background: #e0efe3;
  }
  
  #wave:before {
          content: "";
          display: block;
          position: absolute;
          border-radius: 100% 50%;
          width: 340px;
      height: 80px;
      background-color: white;
      right: -5px;
      top: 40px;
  }
  
  #wave:after {
          content: "";
          display: block;
          position: absolute;
          border-radius: 100% 50%;
          width: 300px;
      height: 70px;
      background-color: #e0efe3;
      left: 0;
      top: 27px;
  }
  